<aside class="sidebar">
  <div class="sidebar-header">
    <span class="sidebar-eyebrow">Builder</span>
    <h3>Components</h3>
    <p>Drag a field onto the canvas to start composing your form.</p>
  </div>

  <div
    cdkDropList
    id="sidebar-list"
    [cdkDropListData]="formService.componentDefinitions"
    cdkDropListSortingDisabled
    class="sidebar-list"
  >
    <div
      *ngFor="let comp of formService.componentDefinitions"
      class="comp-item"
      cdkDrag
      [cdkDragData]="comp.type"
    >
      <span class="comp-icon">+</span>
      <span>{{ comp.label }}</span>

      <div *cdkDragPreview class="drag-preview">{{ comp.label }}</div>
      <div *cdkDragPlaceholder class="drag-placeholder"></div>
    </div>
  </div>
</aside>
